{{ form_start(form) }}
    {{ form_row(form.name) }}
    <div id="cities" data-prototype="{{ form_row(form.cities.vars.prototype)|e('html_attr') }}">
        {{ form_row(form.cities) }}
        <span></span>
    </div>
{{ form_end(form) }}

{% block javascripts %}
    <script>
        let collection, addButton, span;
        window.onload = () => {
            collection = document.querySelector("#cities");
            span = collection.querySelector("span");
            addButton = document.createElement("button");
            addButton.className = "add-city";
            addButton.innerText = "Ajouter une ville";
            let nouveauBouton = span.append(addButton);
            collection.dataset.index = collection.querySelectorAll("input").length;
            addButton.addEventListener("click", function(){
                addiButton(collection, nouveauBouton);
            });
        }
        function addiButton(collection, nouveauBouton){
            let prototype = collection.dataset.prototype;
            let index = collection.dataset.index;
            prototype = prototype.replace(/__name__/g, index);
            let content = document.createElement("html");
            content.innerHTML = prototype;
            let newForm = content.querySelector("div");
            let boutonSuppr = document.createElement("button");
            boutonSuppr.type = "button";
            boutonSuppr.className = "btn red";
            boutonSuppr.id = "delete-city-" + index;
            boutonSuppr.innerText = "Supprimer cette ville";
            newForm.append(boutonSuppr);
            collection.dataset.index++;
            let boutonAjout = collection.querySelector(".add-city");
            span.insertBefore(newForm, boutonAjout);
            boutonSuppr.addEventListener("click", function(){
                this.previousElementSibling.parentElement.remove();
            })
        }
    </script>
    <script>
        /*let collection, addButton, span;
        window.onload = () => {
            collection = document.querySelector(#cities);
            span = collection.querySelector('span');
            addButton = document.createElement("button");
            addButton.className = "add-city";
            addButton.innerText = "Ajouter une ville";

            let newButton = span.append(addButton);

            collection.dataset.index = collection.querySelectorAll("input").length;

            addButton.addEventListener("click", function(){
                addiButton(collection, newButton);
            });
        }

        function addiButton(collection, newButton){
            let prototype = collection.dataset.prototype;
            let index = collection.dataset.index;
            prototype = prototype.replace(/__name__/g, index);
            let content = document.createElement("html");
            content.innerHTML = prototype;
            let newForm = content.querySelector("div");
            let deleteButton = document.createElement("button");
            deleteButton.type = "button";
            deleteButton.className = "btn";
            deleteButton.id = "delete-city-" + index;
            deleteButton.innerText = "Supprimer cette ville";

            newForm.append(deleteButton);

            collection.dataset.index++;
            let boutonAjout = collection.querySelector(".add-city");

            span.insertBefore(newForm, boutonAjout);

            deleteButton.addEventListener("click", function(){
                this.previousElementSibling.parentElement.remove();
            })
        }*/
    </script>
{% endblock  %}
